<footer class="footer-layout">
    <div class="footer-layout__left-box">
        <p>sdvdgdsfhgsdddddddddddddddddddfhds</p>
        <p>sdvdgdsfhgsdfhds</p>
        <p>sdvdgdsfhgsdfhds</p>
    </div>
    <div class="footer-layout__right-box">
        <p>sdvdgdsfhgsdfhds</p>
        <p>sdvdgdsfhgsdfhds</p>
        <p>sdvdgdsfhgsdfhds</p>
    </div>
    <form name="contact" netlify>
        <p>
            <label>Name <input type="text" name="name" /></label>
        </p>
        <p>
            <label>Email <input type="email" name="email" /></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
    <div class="footer-layout__copyright-box">
        <p>CopyRight</p>
    </div>
</footer>

<!-- MAIN SCRIPTS - NOT TOUCH -->
