<footer class="footer-layout">

   <div class="footer-layout__contact">
       <div class="footer-layout__contact__left-side">
           <form name="MCF_subscription" netlify>
               <label for="name">Nombre:</label><br>
               <input type="text" id="name" name="name" value="John"><br>
               <label for="surname">Apellidos:</label><br>
               <input type="text" id="surname" name="surname" value="Doe"><br><br>
               <button type="submit">Enviar</button>
           </form>
       </div>

       <div class="footer-layout__contact__right-side">
           <p>Diseñado por Marc Delgado Bonet | </p>
           <p>Trabajo académico para la Universitat Oberta de Catalunya</p>
       </div>
   </div>


    <div class="footer-layout__menu">
        <div class="footer-layout__main-header__title-box">
            <h1 class="footer-layout__main-header__title-box__title">{{LAYOUTS.HEADER.title_txt}}</h1>
        </div>
        <div class="footer-layout__menu__menu-box">
            <each loop="navitem, key in LAYOUTS.HEADER.NAV_main">
                    <include src="modules/main-menu.html"></include>
            </each>
        </div>
    </div>
</footer>

